---
---

@import "{{ site.theme }}";

.page-header {
    padding: 2rem;
}

a#header-home-link {
    color: $header-heading-color;
}

/* mouse over link */
a#header-home-link:hover {
    text-decoration: none;
}